{
    "printWidth": 100,
    "singleQuote": true,
    "trailingComma": "es5",
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": false,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "vueIndentScriptAndStyle": true,
    "htmlWhitespaceSensitivity": "ignore",
    "endOfLine": "lf"
}
