/* Breakpoints: From xs to sm, from sm to md, from md to lg, after that simple desktop */
$breakpoints: (
    xs: 0,
    sm: 768px,
    md: 992px,
    lg: 1280px
);

/* Colors */
$body-color: #000;

/* Font */
$font-family: 'Museo', sans-serif;

/* Grid */
$header-h: 64px;
$footer-h: 64px;
$sidebar-w: 256px;

/* Spacing */
$mobile-padding: 16px;
