/* Breakpoints: From xs to sm, from sm to md, from md to lg, after that simple desktop */
$breakpoints: (
    xs: 0,
    sm: 768px,
    md: 992px,
    lg: 1280px
);

/* Colors */
$brown: #6c4438;
$green: #3b9a50;
$red: #e45a5a;
$yellow: #e8b555;
$blue: #18439b;
$grey-xs: #f8f8f8;
$grey-s: #e7e8eb;
$grey-l: #c9cbd1;
$grey-xl: #888d99;
$black: #313131;
$black-text: #111;

/* Font */
$font-family: 'Museo', sans-serif;

/* Grid */
$header-h: 64px;
$footer-h: 64px;
$sidebar-w: 256px;

/* Spacing */
$mobile-padding: 16px;
