.page {
    padding-top: calc(#{$header-h} + 40px);
    padding-bottom: 64px;
}

.page-content {

    & > h1 {
        margin-bottom: 16px;
    }

    & > h2 {
        margin: 56px 0 16px;
    }

    & > .demo-block {
        margin: 16px 0;
    }
}

.container {
    width: var(--container-width);
    margin: 0 auto;
}

.demo-block {
    padding: 24px;
    border: 1px solid $grey-s;
    border-radius: 4px;
}

code {
    background-color: $grey-xs;
    padding: 0 4px;
    border: 1px solid $grey-s;
    border-radius: 4px;
}
