/* Text */

h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p {
    font-size: 14px;
    line-height: 1.5;
}

.text {
    font-size: 14px;
    line-height: 1.5;

    p {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

/* Colors */

.c-grey-xl {
    color: $grey-xl;
}

.c-grey-l {
    color: $grey-l;
}

.c-grey-s {
    color: $grey-s;
}

.c-brown {
    color: $brown;
}

/* Weight */

.fw-300 {
    font-weight: 300;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

/* Flex */

.d-f {
    display: flex;
}

.fd-r {
    flex-direction: row;
}

.fd-c {
    flex-direction: column;
}

.fd-rr {
    flex-direction: row-reverse;
}

.fd-cr {
    flex-direction: column-reverse;
}

.fw-w {
    flex-wrap: wrap;
}

.fw-nw {
    flex-wrap: nowrap;
}

.fw-wr {
    flex-wrap: wrap-reverse;
}

.jc-fs {
    justify-content: flex-start;
}

.jc-fe {
    justify-content: flex-end;
}

.jc-c {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.jc-sa {
    justify-content: space-around;
}

.ai-fs {
    align-items: flex-start;
}

.ai-fe {
    align-items: flex-end;
}

.ai-c {
    align-items: center;
}

.ai-b {
    align-items: baseline;
}

.ai-s {
    align-items: stretch;
}

.as-a {
    align-self: auto;
}

.as-fs {
    align-self: flex-start;
}

.as-fe {
    align-self: flex-end;
}

.as-c {
    align-self: center;
}

.as-b {
    align-self: baseline;
}

.as-s {
    align-self: stretch;
}

.fg-0 {
    flex-grow: 0;
}

.fg-1 {
    flex-grow: 1;
}

.fs-h0 {
    flex-shrink: 0;
}

.fs-h1 {
    flex-shrink: 1;
}

/* Position */

.pos-r {
    position: relative;
}
